USE [Upgrowth]
GO
/****** Object:  Table [dbo].[adminlist]    Script Date: 22-04-2019 07:20:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[adminlist](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](255) NULL,
	[Password] [varchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdviceList]    Script Date: 22-04-2019 07:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdviceList](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Typeid] [int] NULL,
	[Locationid] [int] NULL,
	[Name] [varchar](50) NULL,
	[Emailid] [varchar](50) NULL,
	[Phoneno] [varchar](50) NULL,
	[Location] [varchar](50) NULL,
	[Profilepic] [varchar](max) NULL,
	[Experience] [varchar](50) NULL,
	[About] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdviceMaster]    Script Date: 22-04-2019 07:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdviceMaster](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Type] [varchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AptitudeAnswers]    Script Date: 22-04-2019 07:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AptitudeAnswers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userid] [varchar](50) NULL,
	[questionid] [varchar](255) NULL,
	[selectanswer] [varchar](255) NOT NULL,
	[Datetaken] [datetime2](7) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AptitudeQuestions]    Script Date: 22-04-2019 07:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AptitudeQuestions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Skillid] [int] NULL,
	[Question] [varchar](255) NULL,
	[OptOne] [varchar](255) NULL,
	[OptTwo] [varchar](255) NULL,
	[OptThree] [varchar](255) NULL,
	[OptFour] [varchar](255) NULL,
	[CrtAnswer] [varchar](255) NULL,
 CONSTRAINT [PK_AptitudeQuestions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AptitudeScoreCard]    Script Date: 22-04-2019 07:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AptitudeScoreCard](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userid] [varchar](255) NULL,
	[skillid] [varchar](255) NULL,
	[skillname] [varchar](255) NULL,
	[counter] [varchar](255) NULL,
	[Datetaken] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CareerChoice]    Script Date: 22-04-2019 07:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CareerChoice](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[SkillName] [varchar](255) NULL,
	[Skillrate] [varchar](255) NULL,
	[counter] [varchar](255) NULL,
	[Career] [varchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LocationMaster]    Script Date: 22-04-2019 07:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocationMaster](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Location] [varchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RatingMaster]    Script Date: 22-04-2019 07:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RatingMaster](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Rating] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SkillMaster]    Script Date: 22-04-2019 07:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SkillMaster](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[SkillTag] [varchar](255) NULL,
	[SkillName] [varchar](max) NULL,
 CONSTRAINT [PK_SkillMaster] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserMaster]    Script Date: 22-04-2019 07:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserMaster](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](255) NULL,
	[Email] [varchar](255) NULL,
	[Password] [varchar](255) NULL,
	[Phone] [varchar](20) NULL,
	[Location] [varchar](255) NULL,
	[photo] [varchar](max) NULL,
	[Experience] [varchar](255) NULL,
	[Passion] [varchar](255) NULL,
	[Interest] [varchar](255) NULL,
	[Skill] [varchar](255) NULL,
	[JobRole] [varchar](255) NULL,
	[TenthMarks] [varchar](255) NULL,
	[TwelthMarks] [varchar](255) NULL,
	[UGMarks] [varchar](255) NULL,
	[GMarks] [varchar](255) NULL,
	[UGStream] [varchar](255) NULL,
	[GStream] [varchar](255) NULL,
	[Profession] [varchar](255) NULL,
	[OtherEducation] [varchar](255) NULL,
	[HighSchool] [varchar](255) NULL,
	[UGSchool] [varchar](255) NULL,
	[GSchool] [varchar](255) NULL,
	[profilepic] [varchar](max) NULL,
	[CV] [varchar](max) NULL,
 CONSTRAINT [PK_UserMaster] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserSkill]    Script Date: 22-04-2019 07:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserSkill](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Userid] [varchar](255) NULL,
	[Skillid] [varchar](255) NULL,
	[Skillrate] [varchar](20) NULL,
	[SkillName] [varchar](255) NULL,
 CONSTRAINT [PK_UserSkill] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[adminlist] ON 

INSERT [dbo].[adminlist] ([id], [Name], [Password]) VALUES (1, N'Admin', N'EDC123!@#')
SET IDENTITY_INSERT [dbo].[adminlist] OFF
SET IDENTITY_INSERT [dbo].[AdviceList] ON 

INSERT [dbo].[AdviceList] ([id], [Typeid], [Locationid], [Name], [Emailid], [Phoneno], [Location], [Profilepic], [Experience], [About]) VALUES (1, 1, 1, N'Prakash Kumar', N'superscientist01@gmail.com', N'8097984935', N'Mumbai', N'ProfilePic/rupali@gmail.com/eHarmony-Blog-profile-picture.jpg', N'5', N'lorem ipsum')
INSERT [dbo].[AdviceList] ([id], [Typeid], [Locationid], [Name], [Emailid], [Phoneno], [Location], [Profilepic], [Experience], [About]) VALUES (2, 1, 2, N'Asdfaf', N'sdfsdf@gmail.com', N'6262665654', N'Pune', N'ProfilePic/rupali@gmail.com/eHarmony-Blog-profile-picture.jpg', N'2', N'asdfasdfasdfasdfwegtwegtwewe')
SET IDENTITY_INSERT [dbo].[AdviceList] OFF
SET IDENTITY_INSERT [dbo].[AdviceMaster] ON 

INSERT [dbo].[AdviceMaster] ([id], [Type]) VALUES (1, N'Counselor')
INSERT [dbo].[AdviceMaster] ([id], [Type]) VALUES (2, N'IndustryExpert')
INSERT [dbo].[AdviceMaster] ([id], [Type]) VALUES (3, N'Entrepreneur')
SET IDENTITY_INSERT [dbo].[AdviceMaster] OFF
SET IDENTITY_INSERT [dbo].[AptitudeAnswers] ON 

INSERT [dbo].[AptitudeAnswers] ([id], [userid], [questionid], [selectanswer], [Datetaken]) VALUES (1, N'1', N'32', N'Not Answered', CAST(N'2019-04-19T23:07:54.0000000' AS DateTime2))
INSERT [dbo].[AptitudeAnswers] ([id], [userid], [questionid], [selectanswer], [Datetaken]) VALUES (2, N'1', N'3', N'Not Answered', CAST(N'2019-04-19T23:07:54.0000000' AS DateTime2))
INSERT [dbo].[AptitudeAnswers] ([id], [userid], [questionid], [selectanswer], [Datetaken]) VALUES (3, N'1', N'35', N'Not Answered', CAST(N'2019-04-19T23:07:54.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[AptitudeAnswers] OFF
SET IDENTITY_INSERT [dbo].[AptitudeQuestions] ON 

INSERT [dbo].[AptitudeQuestions] ([id], [Skillid], [Question], [OptOne], [OptTwo], [OptThree], [OptFour], [CrtAnswer]) VALUES (1, 1, N'Which one of the following is not a reserved keyword for C?', N'auto', N'case ', N'main', N'default', N'main')
INSERT [dbo].[AptitudeQuestions] ([id], [Skillid], [Question], [OptOne], [OptTwo], [OptThree], [OptFour], [CrtAnswer]) VALUES (2, 1, N'A C variable cannot start with ?', N'A number', N'A special symbol other than underscore', N'Both of the above', N'An alphabet', N'Both of the above')
INSERT [dbo].[AptitudeQuestions] ([id], [Skillid], [Question], [OptOne], [OptTwo], [OptThree], [OptFour], [CrtAnswer]) VALUES (3, 1, N'Which one of the following is not a valid identifier?', N'_examveda', N'1examveda', N'exam_veda', N'examveda1', N'1examveda')
SET IDENTITY_INSERT [dbo].[AptitudeQuestions] OFF
SET IDENTITY_INSERT [dbo].[AptitudeScoreCard] ON 

INSERT [dbo].[AptitudeScoreCard] ([id], [userid], [skillid], [skillname], [counter], [Datetaken]) VALUES (1, N'1', N'1', N'C', N'0', CAST(N'2019-04-19T23:07:54.000' AS DateTime))
INSERT [dbo].[AptitudeScoreCard] ([id], [userid], [skillid], [skillname], [counter], [Datetaken]) VALUES (2, N'1', N'1', N'C', N'0', CAST(N'2019-04-19T23:08:28.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[AptitudeScoreCard] OFF
SET IDENTITY_INSERT [dbo].[CareerChoice] ON 

INSERT [dbo].[CareerChoice] ([id], [SkillName], [Skillrate], [counter], [Career]) VALUES (1, N'C', N'1', N'0', N'Software Developer')
INSERT [dbo].[CareerChoice] ([id], [SkillName], [Skillrate], [counter], [Career]) VALUES (2, N'C', N'1', N'1', N'Software Developer')
INSERT [dbo].[CareerChoice] ([id], [SkillName], [Skillrate], [counter], [Career]) VALUES (3, N'C', N'1', N'2', N'Software Developer')
GO
SET IDENTITY_INSERT [dbo].[CareerChoice] OFF
SET IDENTITY_INSERT [dbo].[LocationMaster] ON 

INSERT [dbo].[LocationMaster] ([id], [Location]) VALUES (1, N'Mumbai')
INSERT [dbo].[LocationMaster] ([id], [Location]) VALUES (2, N'Pune')
INSERT [dbo].[LocationMaster] ([id], [Location]) VALUES (3, N'Delhi')
SET IDENTITY_INSERT [dbo].[LocationMaster] OFF
SET IDENTITY_INSERT [dbo].[RatingMaster] ON 

INSERT [dbo].[RatingMaster] ([id], [Rating]) VALUES (1, 1)
INSERT [dbo].[RatingMaster] ([id], [Rating]) VALUES (2, 2)
INSERT [dbo].[RatingMaster] ([id], [Rating]) VALUES (3, 3)
SET IDENTITY_INSERT [dbo].[RatingMaster] OFF
SET IDENTITY_INSERT [dbo].[SkillMaster] ON 

INSERT [dbo].[SkillMaster] ([id], [SkillTag], [SkillName]) VALUES (1, N'Computer ', N'C')
INSERT [dbo].[SkillMaster] ([id], [SkillTag], [SkillName]) VALUES (2, N'Computer ', N'C++')
INSERT [dbo].[SkillMaster] ([id], [SkillTag], [SkillName]) VALUES (3, N'Computer ', N'Java')
GO
SET IDENTITY_INSERT [dbo].[SkillMaster] OFF
SET IDENTITY_INSERT [dbo].[UserMaster] ON 

INSERT [dbo].[UserMaster] ([id], [Name], [Email], [Password], [Phone], [Location], [photo], [Experience], [Passion], [Interest], [Skill], [JobRole], [TenthMarks], [TwelthMarks], [UGMarks], [GMarks], [UGStream], [GStream], [Profession], [OtherEducation], [HighSchool], [UGSchool], [GSchool], [profilepic], [CV]) VALUES (2, N'dssdfds', N'dsfdsf@g.com', N'WaA1t1TKrP3kprOPP85WMujYEKsYyRRxAaxxg90qm2+kTkA7jPya+iqsBH135GALwH4tHwhTVYerlH49CqjAz7fXtQxNmA==', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[UserMaster] ([id], [Name], [Email], [Password], [Phone], [Location], [photo], [Experience], [Passion], [Interest], [Skill], [JobRole], [TenthMarks], [TwelthMarks], [UGMarks], [GMarks], [UGStream], [GStream], [Profession], [OtherEducation], [HighSchool], [UGSchool], [GSchool], [profilepic], [CV]) VALUES (3, N'asfjop', N'jospdjf@gmail.com', N'q13Htm9Gvdinbjo4QYHHX/glRsFZeLPidNQI/I6iqTqWOdLk4nzng1Wc6bW/MY9H4QH38zJCCcyiCpsMSV86i2PburLB', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[UserMaster] OFF
SET IDENTITY_INSERT [dbo].[UserSkill] ON 

INSERT [dbo].[UserSkill] ([id], [Userid], [Skillid], [Skillrate], [SkillName]) VALUES (2, N'1', N'3', N'6', N'PHP')
INSERT [dbo].[UserSkill] ([id], [Userid], [Skillid], [Skillrate], [SkillName]) VALUES (3, N'1', N'6', N'1', N'Cooking')
INSERT [dbo].[UserSkill] ([id], [Userid], [Skillid], [Skillrate], [SkillName]) VALUES (4, N'1', N'5', N'5', N'Designing')
SET IDENTITY_INSERT [dbo].[UserSkill] OFF
ALTER TABLE [dbo].[AptitudeAnswers] ADD  CONSTRAINT [DF_AptitudeAnswers_datetaken]  DEFAULT (getdate()) FOR [Datetaken]
GO
ALTER TABLE [dbo].[AptitudeScoreCard] ADD  CONSTRAINT [DF_AptitudeScoreCard_Datetaken]  DEFAULT (getdate()) FOR [Datetaken]
GO
ALTER TABLE [dbo].[UserMaster] ADD  CONSTRAINT [DF_UserMaster_Phone]  DEFAULT (NULL) FOR [Phone]
GO
ALTER TABLE [dbo].[UserMaster] ADD  CONSTRAINT [DF_UserMaster_City]  DEFAULT (NULL) FOR [Location]
GO
ALTER TABLE [dbo].[UserMaster] ADD  CONSTRAINT [DF_UserMaster_photo]  DEFAULT (NULL) FOR [photo]
GO
ALTER TABLE [dbo].[UserMaster] ADD  CONSTRAINT [DF_UserMaster_Experience]  DEFAULT (NULL) FOR [Experience]
GO
ALTER TABLE [dbo].[UserMaster] ADD  CONSTRAINT [DF_UserMaster_Passion]  DEFAULT (NULL) FOR [Passion]
GO
ALTER TABLE [dbo].[UserMaster] ADD  CONSTRAINT [DF_UserMaster_Interest]  DEFAULT (NULL) FOR [Interest]
GO
ALTER TABLE [dbo].[UserMaster] ADD  CONSTRAINT [DF_UserMaster_Skill]  DEFAULT (NULL) FOR [Skill]
GO
ALTER TABLE [dbo].[UserMaster] ADD  CONSTRAINT [DF_UserMaster_JobRole]  DEFAULT (NULL) FOR [JobRole]
GO
ALTER TABLE [dbo].[UserMaster] ADD  CONSTRAINT [DF_UserMaster_TenthMarks]  DEFAULT (NULL) FOR [TenthMarks]
GO
ALTER TABLE [dbo].[UserMaster] ADD  CONSTRAINT [DF_UserMaster_TwelthMarks]  DEFAULT (NULL) FOR [TwelthMarks]
GO
ALTER TABLE [dbo].[UserMaster] ADD  CONSTRAINT [DF_UserMaster_UGMarks]  DEFAULT (NULL) FOR [UGMarks]
GO
ALTER TABLE [dbo].[UserMaster] ADD  CONSTRAINT [DF_UserMaster_PGMarks]  DEFAULT (NULL) FOR [GMarks]
GO
ALTER TABLE [dbo].[UserMaster] ADD  CONSTRAINT [DF_UserMaster_UGStream]  DEFAULT (NULL) FOR [UGStream]
GO
ALTER TABLE [dbo].[UserMaster] ADD  CONSTRAINT [DF_UserMaster_PGStream]  DEFAULT (NULL) FOR [GStream]
GO
ALTER TABLE [dbo].[UserMaster] ADD  CONSTRAINT [DF_UserMaster_Profession]  DEFAULT (NULL) FOR [Profession]
GO
ALTER TABLE [dbo].[UserMaster] ADD  CONSTRAINT [DF_UserMaster_OtherEducation]  DEFAULT (NULL) FOR [OtherEducation]
GO
/****** Object:  StoredProcedure [dbo].[addaptiresult]    Script Date: 22-04-2019 07:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[addaptiresult]
	-- Add the parameters for the stored procedure here
	@userid varchar(50),
	@questionid varchar(255),
	@selectanswer varchar(255),
	@Datetaken datetime2(7)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	Insert into AptitudeAnswers(userid, questionid, selectanswer, Datetaken) Values(@userid, @questionid, @selectanswer, @Datetaken)
END
GO
/****** Object:  StoredProcedure [dbo].[addskill]    Script Date: 22-04-2019 07:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[addskill] 
	-- Add the parameters for the stored procedure here
	@Userid varchar(255),
	@Skillid varchar(255),
	@Skillrate varchar(255),
	@Skillname varchar(255)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	Insert into UserSkill(Userid, Skillid, Skillrate, SkillName) Values(@Userid, @Skillid, @Skillrate, @Skillname)
END
GO
/****** Object:  StoredProcedure [dbo].[aptiscorecard]    Script Date: 22-04-2019 07:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[aptiscorecard] 
	-- Add the parameters for the stored procedure here
	@userid varchar(255),
	@skillid varchar(255),
	@skillname varchar(255),
	@counter varchar(255),
	@Datetaken datetime
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	Insert into AptitudeScoreCard(userid, skillid, skillname, counter, Datetaken) Values(@userid,@skillid,@skillname,@counter, @Datetaken)
END
GO
/****** Object:  StoredProcedure [dbo].[deleteskillid]    Script Date: 22-04-2019 07:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[deleteskillid] 
	-- Add the parameters for the stored procedure here
	@id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	delete from UserSkill
	where id=@id
END
GO
/****** Object:  StoredProcedure [dbo].[getadminlogin]    Script Date: 22-04-2019 07:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[getadminlogin] 
	-- Add the parameters for the stored procedure here
	@Name varchar(255),
	@Password varchar(255)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * from adminlist where Name=@Name and Password=@Password
END
GO
/****** Object:  StoredProcedure [dbo].[getadvicelist]    Script Date: 22-04-2019 07:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[getadvicelist] 
	-- Add the parameters for the stored procedure here
	@Typeid int,
	@Locationid int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * from AdviceList where Typeid=@Typeid and Locationid=@Locationid
END
GO
/****** Object:  StoredProcedure [dbo].[getadvicemaster]    Script Date: 22-04-2019 07:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[getadvicemaster] 
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * from AdviceMaster
END
GO
/****** Object:  StoredProcedure [dbo].[getallusers]    Script Date: 22-04-2019 07:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[getallusers] 
	-- Add the parameters for the stored procedure here

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * from UserMaster order by id
END
GO
/****** Object:  StoredProcedure [dbo].[getaptianswers]    Script Date: 22-04-2019 07:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[getaptianswers]
	-- Add the parameters for the stored procedure here
          @id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	

	Select AptitudeScoreCard.counter, AptitudeScoreCard.skillname, AptitudeAnswers.questionid, AptitudeAnswers.selectanswer, AptitudeQuestions.Question, AptitudeScoreCard.Datetaken,
	       AptitudeQuestions.OptOne, AptitudeQuestions.OptTwo, AptitudeQuestions.OptThree, AptitudeQuestions.OptFour, AptitudeQuestions.CrtAnswer
	from ((AptitudeScoreCard
	INNER JOIN AptitudeAnswers ON AptitudeScoreCard.Datetaken = AptitudeAnswers.Datetaken and AptitudeScoreCard.id=@id )
	INNER JOIN AptitudeQuestions ON AptitudeAnswers.questionid=AptitudeQuestions.id)


END
GO
/****** Object:  StoredProcedure [dbo].[getaptilist]    Script Date: 22-04-2019 07:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[getaptilist] 
	-- Add the parameters for the stored procedure here
	@userid varchar(255)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here

	if(@userid=0)
	   BEGIN
			SELECT * from AptitudeScoreCard
	   END
	else
	   BEGIN
			SELECT * from AptitudeScoreCard where userid=@userid
	   END
	
END
GO
/****** Object:  StoredProcedure [dbo].[getAptiQuestions]    Script Date: 22-04-2019 07:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[getAptiQuestions]
	-- Add the parameters for the stored procedure here
	@Skillid int

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT TOP 10 * From AptitudeQuestions where Skillid=@Skillid
	ORDER BY NEWID()



END


GO
/****** Object:  StoredProcedure [dbo].[getcareerchoice]    Script Date: 22-04-2019 07:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[getcareerchoice] 
	-- Add the parameters for the stored procedure here
	@userid varchar(255)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	select distinct UserSkill.Skillrate, AptitudeScoreCard.counter, UserSkill.SkillName, CareerChoice.Career
	from ((UserSkill
	Inner Join AptitudeScoreCard ON AptitudeScoreCard.skillname = UserSkill.SkillName and UserSkill.Userid=@userid)
	Inner Join CareerChoice ON CareerChoice.SkillName = UserSkill.SkillName)

END
GO
/****** Object:  StoredProcedure [dbo].[getlocationmaster]    Script Date: 22-04-2019 07:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[getlocationmaster] 
	-- Add the parameters for the stored procedure here

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * From LocationMaster
END
GO
/****** Object:  StoredProcedure [dbo].[getparticularuser]    Script Date: 22-04-2019 07:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[getparticularuser] 
	-- Add the parameters for the stored procedure here
	@id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * from UserMaster where id=@id
END
GO
/****** Object:  StoredProcedure [dbo].[getrating]    Script Date: 22-04-2019 07:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[getrating]
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	select * from RatingMaster
END
GO
/****** Object:  StoredProcedure [dbo].[getskilldatabyid]    Script Date: 22-04-2019 07:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[getskilldatabyid]
	-- Add the parameters for the stored procedure here
	@id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * from UserSkill where id=@id
END
GO
/****** Object:  StoredProcedure [dbo].[getskilllist]    Script Date: 22-04-2019 07:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[getskilllist]
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	Select * from SkillMaster
END
GO
/****** Object:  StoredProcedure [dbo].[getuserdata]    Script Date: 22-04-2019 07:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[getuserdata] 
	-- Add the parameters for the stored procedure here
	@id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * from UserMaster where id=@id
END
GO
/****** Object:  StoredProcedure [dbo].[getuserskilllist]    Script Date: 22-04-2019 07:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[getuserskilllist]
	-- Add the parameters for the stored procedure here
	@Userid varchar(255)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	if(@Userid=0)
	   BEGIN 
	      select * from UserSkill 
	   END
	else
	    BEGIN
		   SELECT * from UserSkill where Userid=@userid
		END

    -- Insert statements for procedure here
	
END
GO
/****** Object:  StoredProcedure [dbo].[loginuser]    Script Date: 22-04-2019 07:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[loginuser]
	-- Add the parameters for the stored procedure here
	@Email varchar(255),
	@Password varchar(255)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	select id, Name, Email, Password from UserMaster where Email=@Email 
END
GO
/****** Object:  StoredProcedure [dbo].[registeruser]    Script Date: 22-04-2019 07:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[registeruser]
	-- Add the parameters for the stored procedure here
	@Name varchar(255),
	@Email varchar(255),
	@Password varchar(255)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	Insert into UserMaster(Name,Email,Password) Values(@Name, @Email, @Password)
END
GO
/****** Object:  StoredProcedure [dbo].[resultspara]    Script Date: 22-04-2019 07:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[resultspara] 
	-- Add the parameters for the stored procedure here
	@userid int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	select Skillrate, SkillName     from UserSkill where Userid=@userid

	select counter, skillname from AptitudeScoreCard where userid=@userid
END
GO
/****** Object:  StoredProcedure [dbo].[UpdatePassword]    Script Date: 22-04-2019 07:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[UpdatePassword] 
	-- Add the parameters for the stored procedure here
	@id int,
	@Password varchar(255)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	Update UserMaster
	SET Password=@Password
	where id=@id
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateUserBasicDetail]    Script Date: 22-04-2019 07:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[UpdateUserBasicDetail] 
	-- Add the parameters for the stored procedure here
	@id int,
	@Email varchar(255),
	@Phone varchar(255),
	@Location varchar(255),
	@Experience varchar(255),
	@Passion varchar(255),
	@Interest varchar(255),
	@Skill varchar(255),
	@JobRole varchar(255),
	@profilepic varchar(MAX),
	@CV varchar(MAX)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	Update UserMaster
	SET Email=@Email, Phone=@Phone, Location=@Location, Experience=@Experience, Passion=@Passion, Interest=@Interest, Skill=@Skill, JobRole=@JobRole, profilepic=@profilepic, CV=@CV
	where id=@id
END
GO
/****** Object:  StoredProcedure [dbo].[UpdateUserEducationData]    Script Date: 22-04-2019 07:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[UpdateUserEducationData]
	-- Add the parameters for the stored procedure here
	@id int,
	@TenthMarks varchar(255),
	@TwelthMarks varchar(255),
	@UGMarks varchar(255),
	@GMarks varchar(255),
	@UGStream varchar(255),
	@GStream varchar(255),
	@Profession varchar(255),
	@OtherEducation varchar(255),
	@HighSchool varchar(255),
	@UGSchool varchar(255),
	@GSchool varchar(255)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	Update UserMaster
	SET TenthMarks=@TenthMarks, TwelthMarks=@TwelthMarks, UGMarks=@UGMarks, GMarks=@GMarks, UGStream=@UGStream, GStream=@GStream, Profession=@Profession, OtherEducation=@OtherEducation, HighSchool=@HighSchool, UGSchool=@UGSchool, GSchool =@GSchool
	where id=@id
END
GO
/****** Object:  StoredProcedure [dbo].[updateuserskill]    Script Date: 22-04-2019 07:20:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[updateuserskill] 
	-- Add the parameters for the stored procedure here
	@id int,
	@Skillrate varchar(255)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	Update UserSkill
	set Skillrate=@Skillrate
	where id=@id
END
GO
