<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/a933e2c4-9fd1-4888-bbc5-9f16840586d1/resourcegroups/Upgrowth/providers/Microsoft.Web/sites/upgrowthdemo</ResourceId>
    <ResourceGroup>Upgrowth</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://upgrowthdemo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>upgrowthdemo.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>upgrowthdemo</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$upgrowthdemo</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="career" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:upgrowth.database.windows.net,1433;Initial Catalog=Upgrowth;Persist Security Info=False;User ID=upgrowth;Password=QAZ123!@#;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:upgrowth.database.windows.net,1433;Initial Catalog=Upgrowth;Persist Security Info=False;User ID=upgrowth;Password=QAZ123!@#;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:upgrowth.database.windows.net,1433;Initial Catalog=Upgrowth;Persist Security Info=False;User ID=upgrowth;Password=QAZ123!@#;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\career_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:upgrowth.database.windows.net,1433;Initial Catalog=Upgrowth;Persist Security Info=False;User ID=upgrowth;Password=QAZ123!@#;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="career-Web.config Connection String">
      <ParameterValue>Server=tcp:upgrowth.database.windows.net,1433;Initial Catalog=Upgrowth;Persist Security Info=False;User ID=upgrowth;Password=QAZ123!@#;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>